.menu {
    background-color: #009900;
    padding: 10px;
    left: 0;
    bottom: 0;    
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    display: inline;
  }
  
  .menu a {
    text-decoration: none;
    padding: 10px;
    color: rgb(249, 244, 244);
  }
  
  .menu a.active {
    background-color: #009900;
    color: rgb(255, 255, 255);
  }

  /* CSS pour les icônes Material */
.material-icons {
  vertical-align: middle;
}

/* CSS pour les boutons du header */
.header-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  margin-left: 10px;
  /* Ajoutez ici les styles personnalisés pour les boutons */
}